:root {
    --gradient: linear-gradient(90deg, 
                            #ee6352, 
                            purple, 
                            #ee6352);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
    overflow: hidden;
    background: url("../img/background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    margin: 1.5rem auto;
}

#heading {
    background-color: #64C9CF;
}

